:root{
    --theme-color:#00008b;
    --theme-color-halstrans:#00008b50;
}

div.wordCard{
    font-size: 50px;
    border: 5px solid var(--theme-color);
    border-radius: 20px;
    background-color:antiquewhite;
    padding: 5px;
    box-shadow: 5px 5px 4px 4px rgba(50,50,50,0.5);
    width:40%;
}
div.wordCard .wordDelimeter{
    height:20px;
    width:80%;
    border-top: 15px dashed var(--theme-color);
    margin: 20px 10% 5px 10%;
}
div.wordCard .wordMainCN,
div.wordCard .wordSimilar,
div.wordCard .wordReverse,
div.wordCard .wordSentanceCN{
    font-size: 0.6em;
}
div.wordCard .wordSentance{
    font-size: 0.7em;
}
div.wordCard .wordSentance span.main{
    font-weight: bold;
    color:var(--theme-color);
}
div.wordCard div.wordMain{
    font-weight: bold;
    color: var(--theme-color);
}
div.wordCard div.square{
    display: flex;
    align-items: baseline;
}
div.wordCard div.square:before{
    content:"形";
    font-size: 0.8em;
    margin: 0 5px 0 0;
    background-color: var(--theme-color);
    color: white;
    border: 1px solid var(--theme-color);
    border-radius: 8px;
}
div.wordCard div.square.anti:before{
    background:none;
    color: var(--theme-color);
    border-color: var(--theme-color);
}
div.wordCard div.adj:before{
    content:"形";
}
div.wordCard div.n:before{
    content:"名";
}
div.wordCard div.v:before{
    content:"動";
}
div.wordCard div.adv:before{
    content:"副";
}
div.wordCard div.prep:before{
    content:"介";
}
div.wordCard div.pron:before{
    content:"代";
}
div.wordCard div.conj:before{
    content:"連";
}
div.wordCard div.art:before{
    content:"冠";
}
div.wordCard div.int:before{
    content:"感";
}
div.wordCard div.aux:before{
    content:"助";
}
div.wordCard div.similar:before{
    content:"同";
}
div.wordCard div.reverse:before{
    content:"反";
}

div.wordCard span.volume{
    width:40px;
    height:40px;
    display: inline-block;
    background-image: url("../img/volume-high-solid.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px;
    border-radius: 20px;
}
div.wordCard span.volume:hover{
    background-color: var(--theme-color-halstrans);
    cursor: pointer;
}

div.searchField{
	padding:5px 15px;
}
div.searchField div.searchBox{
	border:1px solid;
	height:50px;
	width:80%;
	margin:0 auto;
	border-radius:25px;
}
div.searchField div.searchBox:focus-within,div.searchField div.searchBox:hover{
	box-shadow: 1px 1px 1px 1px;
}
div.searchField div.searchBox input[type='search']{
	display:inline-box;
	border:none;
	width:calc(100% - 50px);
	margin:5px 25px;
	font-size:30px;
}
div.searchField div.searchBox input[type='search']:focus{
	outline:none;
}



